/* General */

header .container {
  padding-left: 0px;
  padding-right: 0px;
}

.container-fluid,
.container {
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 1200px) {
  .container,
  .container-fluid {
    max-width: 980px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #14274e;
}

p {
  font-family: "Mulish", sans-serif;
}

/* Navbar */

nav .navbar-brand {
  font-family: "Orbitron", sans-serif;
  color: #14274e;
}

/* Pitch */

#pitch img {
  width: 200px;
  height: 200px;
}

#pitch #links {
  text-align: right;
}

@media (min-width: 1200px) {
  #pitch h4 {
    font-size: 20px;
  }
  #pitch p {
    font-size: 15px;
  }
}

@media (max-width: 769px) {
  #pitch h4 {
    font-size: large;
  }

  #pitch h1,
  #pitch h4,
  #pitch #links {
    text-align: center;
  }
}

/* Projects */

#akads,
#brewlab {
  text-align: center;
}
